<!DOCTYPE html>
<html lang="ja">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Anitya{% endblock title %}</title>

  <link href="{% static 'common/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'common/vendor/font-awesome/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'common/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'common/images/favicon.ico' %}" rel="shortcut icon" type="image/png">

  <script src="{% static 'common/vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'common/vendor/popper.min.js' %}" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="{% static 'common/vendor/jquery/jquery.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <script src="{% static 'common/vendor/jquery/jquery.bootstrap.modal.forms.js' %}"></script>
  <script src="{% static 'common/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script>
    $(function() {
      $("#leftside-navigation .sub-menu > a").click(function(e) {
        $("#leftside-navigation ul ul").slideUp(), $(this).next().is(":visible") || $(this).next().slideDown(),
        e.stopPropagation()
      });
    });
  </script>

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block extra_head %}
  {% endblock %}
</head>
<body>
  <!-- header block -->
  <header id="global-header">
    <div class="header-logo">
      <a href="/"><img src="{% static 'common/images/anitya_wide_black_transparency.png' %}" class="top-logo"></a>
    </div>
    {% if user.is_authenticated %}
    <div class="header-usermenu dropdown show">
      <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
          {{ user.get_username }} さん
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">プロフィール</a>
        <a class="dropdown-item" href="/admin">管理ページ</a>
        <a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a>
      </div>
    </div>
    {% endif %}
  </header>
  <!-- sidebar block -->
  <aside class="sidebar">
    <div id="leftside-navigation" class="nano">
      <ul class="nano-content">
        <li>
          <a href="/"><i class="fa fa-tachometer-alt"></i><span>ダッシュボード</span></a>
        </li>
        <li class="sub-menu">
          <a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>インフラ</span><i class="arrow fa fa-angle-right pull-right"></i></a>
        <ul>
          <li><a href="/infrastructures/driver">ドライバ</a></li>
          <li><a href="/infrastructures/physical">物理インフラ</a></li>
          <li><a href="/infrastructures/virtual">仮想インフラ</a></li>
        </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:void(0);"><i class="fa fa-truck"></i><span>デプロイメント</span><i class="arrow fa fa-angle-right pull-right"></i></a>
          <ul>
            <li><a href="#">デプロイ</a></li>
            <li><a href="#">コンフィグチェック</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:void(0);"><i class="fa fa-check-circle"></i><span>テスト</span><i class="arrow fa fa-angle-right pull-right"></i></a>
          <ul>
            <li><a href="#">シナリオテスト</a></li>
            <li><a href="#">実行スケジュール</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:void(0);"><i class="fa fa-chart-bar"></i><span>モニタリング</span><i class="arrow fa fa-angle-right pull-right"></i></a>
          <ul>
            <li><a href="#">H/W監視</a></li>
            <li><a href="#">仮想マシン監視</a></li>
            <li><a href="#">コンテナ監視</a></li>
            <li><a href="#">ネットワーク監視</a></li>
            <li><a href="#">ストレージ監視</a></li>
            <li><a href="#">サービス監視</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>

  <!-- main block -->
  <main id="main">
    {% block body %}
    {% endblock %}

    {% block modal %}
    {% endblock %}
  </main>
</body>
</html>