<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Anitya{% endblock title %}</title>

    <link href="{% static 'common/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'common/vendor/font-awesome/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'common/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'common/images/favicon.ico' %}" rel="shortcut icon" type="image/png">

    <script type="text/javascript" src="{% static 'common/vendor/jquery/jquery.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="{% static 'common/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
    $(function() {
      $("#leftside-navigation .sub-menu > a").click(function(e) {
        $("#leftside-navigation ul ul").slideUp(), $(this).next().is(":visible") || $(this).next().slideDown(),
        e.stopPropagation()
      });
    });
    </script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %}
    {% endblock %}
  </head>
　<body>
    <!-- header block -->
    <header id="global-header">
      <div id="header-logo">
        <img src="{% static 'common/images/anitya_wide_black_transparency.png' %}" class="top-logo">
      </div>
      <div id="header-breadlist">ぱんくずリスト</div>
    </header>

    <!-- sidebar block -->
    <aside class="sidebar">
      <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
          <li>
            <a href="/dashboards"><i class="fa fa-tachometer-alt"></i><span>ダッシュボード</span></a>
          </li>
          <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>インフラ</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
              <li><a href="/infrastructures">基盤管理</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-truck"></i><span>デプロイメント</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
              <li><a href="/deployments">インスタンス一覧</a>
              </li>
              <li><a href="tables-data.html">デプロイ一覧</a>
              </li>
              <li><a href="tables-data.html">コンフィグチェック一覧</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="/testings"><i class="fa fa-check-circle"></i><span>テスト</span></a>
          </li>
          <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-chart-bar"></i><span>モニタリング</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
              <li><a href="ui-alerts-notifications.html">H/W監視</a>
              </li>
              <li><a href="ui-panels.html">仮想インスタンス監視</a>
              </li>
              <li><a href="ui-buttons.html">コンテナ監視</a>
              </li>
              <li><a href="ui-slider-progress.html">ネットワーク監視</a>
              </li>
              <li><a href="ui-modals-popups.html">ストレージ監視</a>
              </li>
              <li><a href="ui-icons.html">サービス監視</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </aside>

    <!-- main block -->
    <main id="main">
      {% block body %}
      {% endblock %}
    </main>
  </body>
</html>