{% extends "base.html" %}
{% block title %}{{ block.super }} | インスタンス詳細{% endblock title %}
{% load staticfiles %}

{% block extra_head %}
    <link href="{% static 'deployments/css/style-deployments.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<h1>{{ instance.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% csrf_token %}
<table>
    <tr><td>インスタンスID</td><td>{{ instance.id }}</td></tr>
    <tr><td>インスタンス名</td><td>{{ instance.name }}</td></tr>
    <tr><td>種別</td><td>{{ instance.category }}</td></tr>
    <tr><td>備考</td><td>{{ instance.description }}</td></tr>
    <tr><td>作成日</td><td>{{ instance.pub_date }}</td></tr>
</table>
{% endblock %}
